<html>

<head>
  <title>Resume-screener</title>
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/login.css') }}">
</head>

<body>
  <div class="container">
    <h1>Login</h1>
    <form action="/form_login" method="post">
      <input type="text" name="username" placeholder="Username" class="input-field">
      <input type="password" name="password" placeholder="Password" class="input-field">
      <input type="submit" value="Login" class="submit-button">
    </form>
    <h2>{{info}}</h2>
  </div>
</body>

</html>